<ion-header backgroundcolor="#dd3d3d">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button />
    </ion-buttons>
    <ion-title>Detalhes do {{ nomePokemon }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <h1>{{ nomePokemon }}</h1>
    <p>ID: {{ id_pokemon }}</p>
    <p>Tipo: {{tipo_pokemon }}</p>
    <p>Altura: {{ altura_pokemon }}</p>
    <p>Peso: {{ peso_pokemon }}</p>
    <img *ngIf="sprites_pokemon && sprites_pokemon.front_default" [src]="sprites_pokemon.front_default" alt="Imagem do {{ nomePokemon }}">
  </div>
</ion-content>
