ion-content {
    --background: #dd3d3d;
}

ion-toolbar {
    --background: #dd3d3d;
    text-align: center;
    color: black;
}

#container {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

img{
    width: 500px;
    height: auto;
    display: block;
    margin: 0 auto;
}

#container strong {
    font-size: 20px;
    line-height: 26px;
}

#container p {
    font-size: 16px;
    line-height: 22px;
    color: black;
    margin: 0;
}

#container a {
    text-decoration: none;
}